body{
    background-color:#7FFFD4;		
        
    }
    h1 {
      border: 2px solid green;
     color:solid black;
      border-radius: 5px;
      text-align:center;
    }
    img{
     width:200px;
     height:100%;
     border:5px solid green;
     ;
    }