.border {
  border: 10px solid;
  border-radius: 0px 30px 30px 30px;
  padding: 20px;
}

b {
  font-size: 36px;
}

input[type="text"], input[type="file"], input[type="submit"], input[type="reset"], select {
  font-size: 36px;
}
